html {
  font-size: 16px;
  font-family: Arial, sans-serif;
  box-sizing: border-box;
}

body,
main {
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 62.5rem;
  margin: 0 auto;
}

header {
  background: linear-gradient(white, #f0f0f0);
  border-radius: 0.5rem;
  width: 98%;
  margin-top: 1rem;
}

.headshotWrapper {
  text-align: center;
}

.headshot {
  width: 30%;
  margin: 3rem 0 1.5rem 0;
  border: gray 0.25rem solid;
  border-radius: 5%;
}

.brand,
.slogan {
  text-align: center;
}

nav {
  margin-top: 4rem;
}

a {
  color: #006633;
  text-decoration: none;
}

h1 {
  font-size: 3.75rem;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}

.brand {
  margin: 0.5rem;
}

nav {
  display: flex;
  justify-content: space-evenly;
}

h2 {
  font-size: 2rem;
  margin-bottom: 0;
}

li {
  list-style: none;
}

nav {
  font-weight: 600;
}

.mainDividerLine {
  width: 98%;
  height: 0.25rem;
  margin-top: 1rem;
  background: #ffbe00;
}

.dividerLine {
  width: 50%;
  height: 0.1rem;
  margin-top: 1rem;
  background: #9e2a2f;
}

#goToExperience {
  margin: 1rem 0 0 0;
}

.developed {
  margin-top: 1rem;
}

.experience {
  text-align: center;
}

.projectScreenshot {
  padding-top: 0.625rem;
}

.mcflyDescription {
  text-align: center;
}

.allSkills {
  margin-bottom: -0.5rem;
}

.skillArea {
  font-size: 1.25rem;
  margin: 1rem 0 0.25rem 0;
}

.skill {
  margin-bottom: 0.5rem;
}

.experienceCalled {
  display: block;
  text-align: center;
  font-size: 1.5rem;
}

.experience {
  display: block;
  width: 75%;
  margin: 0 auto;
}

.skillsHead {
  text-align: center;
}

.logo {
  display: inline-block;
  margin-left: 0;
}

.css3Logo {
  margin-left: 1rem;
}

.mysqlLogo {
  width: 75%;
}

.cssLogo {
  width: 70.5%;
}

.phpLogo {
  width: 61%;
}

.pythonLogo {
  width: 41%;
}

.contactButton {
  text-align: center;
  border-radius: 5rem;
}

button {
  width: 6.25rem;
  background: linear-gradient(#006633, #ffbe00, #006633);
  font-weight: 600;
  font-size: 1.375rem;
  color: white;
}

.aboutDescription {
  text-align: center;
  margin: 0 1rem;
}

.emailTextField {
  margin-left: 0.1875rem;
}

.messageTextField {
  margin-left: 1rem;
}

.socialMediaWrapper {
  text-align: center;
  margin: 0.375rem 0 1rem 0;
}

.socialMediaLink {
  margin-right: 2rem;
  margin-bottom: 0.5rem;
}

.logoImage {
  width: 5%;
}

.twitchLogoImage {
  width: 3.6%;
}

@media screen and (max-width: 31.25rem) {
  .logoImage {
    width: 10%;
  }
  .twitchLogoImage {
    width: 7.5%;
  }
}

@media screen and (max-width: 30rem) {
  h1 {
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 46.875rem) {
  .pythonLogo {
    width: 6.25rem;
  }
}

@media screen and (max-width: 20.3125rem) {
  .contactForm {
    margin-left: 1rem;
  }
  .emailTextField,
  .messageTextField {
    margin-left: 0;
  }
}

@media screen and (max-width: 19.8125rem) {
  .skills {
    margin-left: 2rem;
  }
  .typescriptLogo,
  .css3Logo {
    display: block;
  }
  .css3Logo {
    width: 50%;
    margin-left: 1.25rem;
  }
  #experienceLink {
    display: none;
  }
}
